* {
  margin: 0;
  padding: 0;
}

/*main background*/
.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(b.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;

}

/*header design, flexbox*/
.navbar {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  background: #012521;

}

.logo {
  border-radius: 25px;
  width: 35px;
  margin-left: 50px;
  margin-right: 5px;
}

.brandname {
  font-size: 25px;
  color: rgb(156, 142, 14);
  margin-left: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: left;
  margin-right: 750px;
}

/*list*/
.navbar .list {
  background-color: #012521;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

/*list link*/
.navbar ul li a {
  text-decoration: none;
  color: rgb(226, 198, 198);
  padding: 0;
}

.navbar ul li a:hover {
  width: 100%;
  background-color: rgb(156, 142, 14);
  color: #012521;
  margin: 0;
  z-index: 0;
  border-radius: 8px;
  transition: all .5s ease 0s;
  padding: 8px;
}

.navbar ul li a.active {
  width: 100%;
  background-color: rgb(156, 142, 14);
  color: #012521;
  margin: 0;
  z-index: 0;
  border-radius: 8px;
  transition: all .5s ease 0s;
  padding: 8px;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: antiquewhite;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;

}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #012521;
  background: #012521;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #012521;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}



button:hover {
  border: none;
  background-color: rgb(156, 142, 14);
  color: #012521;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(156, 142, 14);
  padding: 10px;
  background: #012521;
}

/*SHELLA MAE BETALMOS BSIT 1-A*/